@model ProductVM
@{
    ViewData["Title"] = "Index";
}
  @await Component.InvokeAsync("Banner",new { Title = "Product List" })

   <!-- Product List area starts -->
    <section class="product-list">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product-filter">
                        <div class="single-product-filter-div">
                            <form action="#">
                                <input type="text" name="#" placeholder="Search keyword">
                                <i class="fas fa-search"></i>
                            </form>
                        </div>


                        <div class="single-product-filter-div">
                            <div class="product-categories">
                                <div class="category-list">Category <i class="right fas fa-caret-down"></i> </div>
                                <div class="category-list-items" style="display: none;">
                                    @foreach (ProductCategory item in Model.ProductCategories)
                                   {
                                    <p><a href="#">@item.Name</a></p>
                                       
                                   }
                                    
                                </div>
                            </div>
                        </div>
                        <div class="single-product-filter-div">
                            <div class="product-prices">
                                <div class="price-list">Price <i class="right fas fa-caret-down"></i> </div>
                                <div class="price-list-items" style="display: none;">
                                    <p><a href="#">$5-$20</a></p>
                                    <p><a href="#"> $20-$100</a></p>
                                    <p><a href="#">$100-$500</a></p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="col-md-8">
                    <div class="product-items">
                        <div class="row">
                            @foreach (Product product in Model.Products)
                        {
                            @foreach (Productimages productimages in product.Productimages)
                            {


                                <div class="col-lg-6 col-sm-6">
                                    <div class="single-product-item">
                                        <img src="images/@productimages.Img" alt="">
                                        <a asp-action="Productdetails" asp-route-id="@product.Id"> <p class="text-center pt-3">@product.Name</p></a> 
                                        <p class="text-center">$@product.Price</p>
                                    </div>
                                </div>
                            }
                        }
                          

                 
                           
                           
                        </div>
                        <div class="text-center">
                            <button class="load-more">Load More</button>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Product List area ends -->
    @await Component.InvokeAsync("Testimonial")
    @await Html.PartialAsync("_ShopMethodPartial",Model.ShopMethods)
    @await Html.PartialAsync("_SubscribePartial", Model.Subscribe)    


