@model Banner

    <!-- Banner area starts -->
    <section class="banner-area d-flex align-items-center" style="background-image: url(&quot;/images/@Model.Img&quot;);" )>
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="text-class text-center">
                     
                        <h2> @Model.Title</h2>
                  
                    </div>

                </div>

            </div>
        </div>
    </section>

    <!-- Banner area ends -->