@model IEnumerable<Gallery>
@{
}

    <!-- Gallery area starts -->
    <section class="gallery-wrapper plr-60">
        <div class="gallery-area">
            <div class="container-fluid">
                <div class="row justify-content-between">
                    @foreach (Gallery item in Model)
                   {
                        <div class="gallery-image">
                        <img src="images/@item.Image" alt="">
                    </div>
                   }
                   

                </div>
            </div>

        </div>
    </section>
    <!-- Gallery area ends -->