  @model Subscribe
  <!-- Subscribe area starts -->
    <section class="subscribe">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="subscribe-text-area">
                        <h2>@Model.Title</h2>
                        <p>@Model.Description</p>
                        <div class="subscribe-form">
                            <input type="email" placeholder="Enter your mail">
                            <a href="#" class="btn">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe area ends -->
